/*Las variavle tienen scope global*/

:root {
    --azul: #89CDF0;
    --amarillo: rgb(250, 241, 88)
}

body,
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-color: var(--azul);
}

.fondo-azul {
    background-color: var(--azul);
}

.fondo-amarillo {
    background-color: var(--amarillo);
}

.height-50 {
    height: 50%;
    width: 100%;
}

.img-motorista {
    background-image: url("../recursos/img/man-6051503_640.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-gris-trasparnte {
    background-color: rgba(47, 47, 47, 0.5);
    width: 80%;
    position: absolute;
    top: 80px;
    left: 35px;
    padding: 25px;
}

.logo {
    WIDTH: 80%;
    margin-left: 8%;
    position: relative;
}


/*----------------CSS PARA INPUT------------------------------------------*/

.botones {
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 20%;
    margin: 10%;
    border: solid black;
    background-color: rgb(253, 242, 29);
}

.botones:hover {
    background-color: white;
}

.input-text {
    border: solid 2px #000;
    border-radius: 10px;
    margin: 10px 20px;
    width: 80%;
    height: 40px;
    padding-left: 10px;
}


/*---------------CSS PARA LETRAS-----------------------------*/

.texto-blanco {
    color: white;
}

.texto-grande {
    font-size: larger;
}

.texto-centrado {
    text-align: center;
}


/*----------------------Tarjetas ---------------------------*/

.fondo-tarjeta {
    background-color: rgb(250, 88, 236);
}

.tarjeta {
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0px;
}


/*-------------------FORMAS-----------------------*/

.triangulo {
    width: 0;
    height: 0;
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
}

.circulo {
    width: 500px;
    height: 500px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(250, 241, 88);
    position: absolute;
    top: -81px;
}