<div class="img-motorista" style="height: 500px;">
    <div class="fondo-gris-trasparnte texto-blanco texto-grande">
        <p>pide lo que quieras a la hora que quieras!!!
            <br> unete a nosotros y no te arrepentiras
        </p>
        <p class="texto-centrado">PLATAM</p>
    </div>
</div>
<div style="border-top: solid 10px;padding: 10%;background-color: beige;height:fit-content">
    <button class="botones texto-grande"> <a routerLink="/registro">Registrarse</a></button><br>
    <button class="botones texto-grande"><a routerLink="/ingreso">ingresar</a></button>
</div>