<div class="padding">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td style="width: 10%;"><img src="../../assets/img/hamburguesa.jpg" alt="foto empresa"></td>
                <td>
                    <h3>nombre medio largo</h3>
                </td>
                <td class="texto-centrado">
                    <p>precio</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="padding: 2%;">
    <p>// subtota:<span>200L</span> </p>
    <p>// envio:<span>50L</span> </p>
    <p>// total:<span>250L</span> </p>
</div>
<button class="botones">
    Finalizar compra
</button>