<app-herramientas></app-herramientas>
<div class="bordes tamano">
    <div class="texto-centrado">
        <img src="../../assets/img/{{infoNegocio.urlImagen}}" class="img" alt="foto empresa" sizes="">
        <div class="padding">
            <h3>{{infoNegocio.nombre}}</h3>
            <p>{{infoNegocio.descripcion}}</p>
            <p>direccion</p>
        </div>

    </div>
    <hr>
    <div *ngFor="let el of arreglo" class="padding">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 10%;"><img src="../../assets/img/{{el.imagen}}" alt="foto produto" class="img-class"></td>
                    <td>
                        <h3>{{el.nombre}}</h3>
                        <p>
                            {{el.descripcion}}
                        </p>
                    </td>
                    <td class="texto-centrado" style="width: 30%;">
                        <p>{{el.precio}}</p>
                        <button class="botones" style="width: fit-content;">Agregar</button>

                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>