.div-main {
    width: 100%;
    min-height: 50px;
    background-color: cadetblue;
}

.enlinea {
    display: inline;
}

.tamano {
    width: 30px;
}

.padding {
    padding: 5%;
}

.espacio {
    margin: 10px;
}

.salir {
    width: 10%;
}

@media only screen and (min-width: 600px) {
    .salir {
        width: 35px;
    }
}