<app-herramientas></app-herramientas>
<div class="container-fluid" style="position: relative;">
    <div class="row">

        <div class="col-6 col-sm-4" *ngFor="let el of arreglo">
            <a routerLink="/categoria/{{idCategoria}}/producto/{{el._id}}">
                <div class="tarjeta fondo-tarjeta">
                    <div style="min-height: 90px;">

                        <img src="../../assets/img/{{el.urlImagen}}" style='width:110px' alt="fotografia">

                    </div>
                    <div>
                        <h2>{{el.nombre}}</h2>
                        <h5 class="font-delgada ">{{el.descripcion}}</h5>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>