<!--<div class="img-motorista height-50" style="box-sizing: border-box;height: 70%;">
    <div class="fondo-gris-trasparnte texto-blanco texto-grande">
        <p>pide lo que quieras a la hora que quieras!!!
            <br> unete a nosotros y no te arrepentiras
        </p>
        <p class="texto-centrado">PLATAM</p>
    </div>
</div>
<div style="box-sizing: border-box;border-top: solid 10px;padding-top: 8%;">
    <a href="registro.html"><button class="botones texto-grande"> Registrarse</button></a><br>
    <button class="botones texto-grande">Ingresar</button>
</div>-->
<div class="img-motorista" style="height: 500px;">
    <div class="fondo-gris-trasparnte texto-blanco texto-grande">
        <p>pide lo que quieras a la hora que quieras!!!
            <br> unete a nosotros y no te arrepentiras
        </p>
        <p class="texto-centrado">PLATAM</p>
    </div>
</div>
<div style="border-top: solid 10px;padding: 10%;background-color: beige;height:fit-content">
    <button class="botones texto-grande"> Registrarse</button><br>
    <button class="botones texto-grande">Ingresar</button>
</div>