<app-herramientas></app-herramientas>
<div class="container-fluid" style="position: relative;">
    <div class="row">
        <div class="col-6 col-sm-4" *ngFor="let el of arreglo">
            <div class="tarjeta fondo-tarjeta">
                <div style="height: 90px;">
                    <img src="recursos/img/logo.png" style='width:110px' alt="fotografia">
                </div>
                <div>
                    <h2>Farmacia</h2>
                    <h5 class="font-delgada ">5 Comercios</h5>
                </div>
            </div>
        </div>
    </div>
</div>