<div class="circulo">
</div>
<div style="    padding: 10% 10% 5% 10%;position: relative;">
    <img src="../../assets/img/your-logo.png" class="logo" alt="PLATAM:LOGO">
    <h1 class="texto-centrado">REGISTRATE</h1>
    <div style="padding-top: 50%;">
        <input [(ngModel)]="correo" class="input-text" type="text" placeholder="Correo"><br>
        <input [(ngModel)]="contrasena" class="input-text" type="password" placeholder="Contrasena"><br>
        <button (click)="entrar()" class="botones">Ingresar</button>
        <div class="alert alert-danger" role="alert" *ngIf="mostrar">
            usuario y contrasena incorrectos
        </div>
        <a routerLink="/">Inicio</a>
    </div>
</div>