<div class="circulo">
</div>
<div style="    padding: 10% 10% 5% 10%;position: relative;">
    <img src="../../assets/img/your-logo.png" class="logo" alt="PLATAM:LOGO">
    <h1 class="texto-centrado">REGISTRATE</h1>
    <div style="padding-top: 50%;">
        <input class="input-text" type="text" placeholder="Correo"><br>
        <input class="input-text" type="password" placeholder="Contrasena"><br>
        <button class="botones">Ingresar</button>
        <a href="#">Inicio</a>
    </div>
</div>